@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

body {
  font-family: 'Sora', sans-serif;
  height: 100vh;
  background-size: cover;
  color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-y: hidden;
  background-color: #1e1c22;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.5)),
    url(./screenshots/lorenzo-herrera-p0j-mE6mGo4-unsplash.jpg);
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 5vw;
  background-image: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

p {
  text-align: center;
}

.title {
  padding: 2rem;
}

.container {
  margin: 0rem 4rem;
  position: relative;
}

.flex-container {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.back-button {
  display: grid;
  place-content: center;
  width: 250px;
	padding: 18px 35px;
  font-size: 24px;
  cursor: pointer;
	border-radius: 7px;
	border-bottom-left-radius: 0;
	background-color: #ffacac;
	color: #2c2c2c;
	transition: all 0.3s;
  border: none;
}

.back-button:hover {
  border-radius: 0px;
  color: #2c2c2c;
  background-color: #ffe5e5;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffacac' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  animation: animatedBackground 5s linear infinite alternate;
}

.back-button:active {
  box-shadow: 0 0 12px white;
}

@keyframes animatedBackground {
  from {
		background-position: 0 0;
	}
	to {
		background-position: 100% 0;
	}
}

.button-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 768px) {

}
@media screen and (max-width: 1300px) {

}

@media screen and (max-width: 1560px) and (min-width: 1301px) {

}

@media screen and (min-width: 2000px) {

}